/* Override Bootstrap styles for the navbar */
.navbar {
    background-color: transparent; /* Set the background color of the navbar */
}

/* Define the initial background color for navigation links */
.navbar-nav .nav-item .nav-link {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Change the background color on hover for navigation links */
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline;
}

.nav-link {
    border-radius: 3px;
}

.nav-item {   
    font-size: 20px;
}

.custom-font, li{
    font-family: 'Chakra Petch', sans-serif;
}

.title {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.navbar-brand {
    font-size: 25px;
    padding-bottom: 0px;
}